# Build-Ordner
bin/
obj/

# Visual Studio / Rider / JetBrains
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Dateien von Visual Studio / JetBrains
_ReSharper*/
*.DotSettings.user

# Logs
*.log

# OS-Dateien
.DS_Store
Thumbs.db