@inject HttpClient Http
@using System.Net.Http.Json

<div class="seite">
    <div class="todo-bereich">
        <input placeholder="@placeholdertext"
               @bind="neuTaskName"
               @bind:event="oninput"
               @onkeydown="handelEnterkey" />

        <button @onclick="addTask">weitere aufgabe eingeben</button>

        <table>
            <tr id="top-row">
                <th class="einleitung">Aufgaben / TODOs</th>
                <th class="einleitung">Status</th>
            </tr>
            @foreach (var task in tasks)
            {
                <tr id="task-row">
                    <td>@task.name</td>
                    <td>
                        <input type="checkbox"
                               checked="@task.isDone"
                               @onchange="(e => OnTaskChecked(task, e))" />
                    </td>
                </tr>
            }
            <tfoot>
                <td>fertige aufgaben = @doneTasks noch zu bearbeiten @todoTasks</td>
            </tfoot>
        </table>
    </div>

    <div class="wetter-bereich">
        <Wetter />
    </div>
</div>

<style>
.seite {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}

.todo-bereich {
    flex: 1;
}

.wetter-bereich {
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    text-align: center;
}

td:first-child {
    text-align: left;
    width: 80%;
}

td:last-child,
th:last-child {
    text-align: center;
    width: 20%;
}
</style>



@code {
    public string errorMessage { get; set; } = "";
    public string neuTaskName { get; set; } = "";
    public string placeholdertext = "weitere Aufgabe eingeben";
    public int doneTasks , todoTasks= 0;

    public class TodoItem
    {
        public string name { get; set; } = "";
        public bool isDone { get; set; }
    }

    public List<TodoItem> tasks = new();

    public void addTask()
    {
        if (string.IsNullOrWhiteSpace(neuTaskName))
        {
            placeholdertext = "errorMessage";
            return;
        }

        tasks.Add(new TodoItem { name = neuTaskName, isDone = false });
        todoTasks++;
        placeholdertext = "weitere Aufgabe eingeben";
        neuTaskName = "";
        errorMessage = "";
    }

    public async System.Threading.Tasks.Task OnTaskChecked(TodoItem task, ChangeEventArgs e)
    {
        bool isChecked = (bool)e.Value!;
        task.isDone = isChecked;

        if (task.isDone)
        {
            await System.Threading.Tasks.Task.Delay(1000);
            doneTasks++;
            tasks.Remove(task);
        }
    }

    public void handelEnterkey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            addTask();
        }
    }
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
{
    var daten = await Http.GetFromJsonAsync<List<TodoItem>>("todos.json");

    if (daten != null)
    {
        foreach (var data in daten)
        {
            if (!data.isDone)
            {
                tasks.Add(data);
                todoTasks++ ; 
            }
            else
            {
                doneTasks++;
            }
        }
    }
}
    
}