


<input placeholder=@placeholdertext
       @bind="neuTaskName"
       @bind:event="oninput"
       @onkeydown="handelEnterkey" />
        
<button   @onclick="addTask"  >weitere aufgabe eingeben</button>
    
<table>
    <tr id="top-row">
        <th class="einleitung">Aufgaben / TODOs</th>   
        <th class="einleitung">Status</th>
    </tr>
    @foreach(var task in tasks)
    {
        <tr id="task-row">
            <td>@task.name</td>
            <td><input type="checkbox"
                       checked="@task.isDone"
                       @onchange="(e => OnTaskChecked(task , e))" 
                /></td>
        </tr>
    }
</table>
<style> 
/*table{
    width: 33%;
    margin: 2px;
    border-collapse: collapse;
    border: 1px solid black;
}
#top-row{
    border: 1px solid black;
}
.einleitung{
    text-align: center;
}*/
table {
    width: 33%;
    border-collapse: collapse;
    margin: 2px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    text-align: center;
}

td:first-child {
    text-align: left;
    width: 80%;
}

td:last-child,
th:last-child {
    text-align: center;
    width: 20%;
}



</style>



@code {
    public String errorMessage { get; set; }
    public String neuTaskName { get; set; }
    public String placeholdertext = "weitere Aufgabe eingeben"; 


    public class Task
    {
        public String name { get; set; }
        public bool isDone { get; set; }
    }

    public List<Task> tasks = new List<Task>();


    public void addTask()
    {
        if (String.IsNullOrWhiteSpace(neuTaskName))
        {
            placeholdertext = "errorMessage";
            return;
        }

        tasks.Add(new Task { name = neuTaskName, isDone = false });
        placeholdertext = "weitere Aufgabe eingeben";
        neuTaskName = "";
        errorMessage = "";
    }


    public async System.Threading.Tasks.Task OnTaskChecked(Task task, ChangeEventArgs e)
    {
        bool isChecked = (bool)e.Value!;
        task.isDone = isChecked;

        if (task.isDone)
        {
            await System.Threading.Tasks.Task.Delay(1000);
            tasks.Remove(task);
        }
    }

    public void handelEnterkey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            addTask();
        }
    }

}