
<div class="wetter">
    <button @onclick="loadtext">
        Lade Wetter runter!
    </button>
    <p>
        das wetter heute ist ... :@wetter
    </p>
</div>

<style>
    .wetter {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
        width: 100%;
    }
</style>


@code
{
    String wetter = "noch nicht geladen ";

    async Task loadtext()
    {
        await Task.Delay(1000);
        wetter = "sonnig";
    }
}
