@inherits LayoutComponentBase

<div class="layout-root">
    <main class="layout-main">
        @Body
    </main>

    <footer class="layout-footer">
        <p>das ist Footer</p>
        <p>&copy; Wadah Farhat</p>
    </footer>
</div>